@import "tailwindcss";

:root {
  --background: #aebaae;
  --foreground: #c4ff03;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1b26;
    --foreground: #c4ff09;
    --text-blue: #7aa2f7;
    --text-purple: #bb9af7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
